<br><br><br><br><br>

<!--About Us-->

<div class="container-fluid form-aus">
    <h1>ABOUT US</h1>
    <br><br><br><br>
    <div class="row">
        <div class="col-lg-2">
            <img src="./assets/images/5.jpg" alt="Belal" class="aus">
            <br><br>
            <h3>Belal</h3>
            <p class="para-three">The one who leads the unwavered ones</p>
        </div>
        <div class="col-lg-2">
            <img src="./assets/images/5.jpg" alt="Yogesh" class="aus">
            <br><br>
            <h3>Yogesh</h3>
            <p class="para-three">A power player and the motivational in-charge</p>
        </div>
        <div class="col-lg-2">
            <img src="./assets/images/5.jpg" alt="Tarique" class="aus">
            <br><br>
            <h3>Tarique</h3>
            <p class="para-three">The comedian and the integration callback</p>
        </div>
        <div class="col-lg-2">
            <img src="./assets/images/2.jpg" alt="Alekhya" class="aus">
            <br><br>
            <h3>Alekhya</h3>
            <p class="para-three">Strong-willed and the influential one</p>
        </div>
        <div class="col-lg-2">
            <img src="./assets/images/2.jpg" alt="Shikha" class="aus">
            <br><br>
            <h3>Shikha</h3>
            <p class="para-three">Testimony of hardwork and determination</p>
        </div>
        <div class="col-lg-2">
            <img src="./assets/images/2.jpg" alt="Ankita" class="aus">
            <br><br>
            <h3>Ankita</h3>
            <p class="para-three">One with the most potential of the lot</p>
        </div>
    </div>
</div>