<br><br><br><br><br>

<!-- Image Cards -->
<div class="container">
    <h1>QUICK ESTIMATE PORTAL</h1>
    <br><br><br><br>
    <div class="row">
        <div class="col-lg-4">
            <div class="card" style="width: 20rem;">
                 <a routerLink="/app-basic-form" RouterLinkActive="active" style="text-decoration:none;"><img class="card-img-top land-im" src="./assets/images/14.ico" alt="Card image cap"></a>
                <div class="card-block">
                    <h4 class="card-title">New Project</h4>
                    <p class="card-text">Create the new project required.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 20rem;">
               <a routerLink="/app-active-project" RouterLinkActive="active" style="text-decoration:none;"><img class="card-img-top land-im" src="./assets/images/12.ico" alt="Card image cap"></a>
                <div class="card-block">
                    <h4 class="card-title">Active Projects</h4>
                    <p class="card-text">Display existing projects and timeline.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card" style="width: 20rem;">
                 <a routerLink="/app-saved-projects" RouterLinkActive="active" style="text-decoration:none;"><img class="card-img-top land-im" src="./assets/images/11.ico" alt="Card image cap"></a>
                <div class="card-block">
                    <h4 class="card-title">Saved Projects</h4>
                    <p class="card-text">Check the saved projects already available.</p>
                </div>
            </div>
        </div>
    </div>
    <br><br><br>
    <p class="para-one">The driving factor for any project is the number of resources involved as well as all the other components that makes it viable, be it from the client end or the vendor. The portal provides a platform to estimate the precise complexities involved
        that determine the time-frame and other resources required.</p>
</div>